name: dashly

services:
  database:
    image: postgres:18
    container_name: database
    expose:
      - "5432"
    volumes:
      - ./database:/var/lib/postgresql
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 12
    networks:
      - network
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
    command: >
      sh -c "python manage.py makemigrations && 
             python manage.py migrate && 
             python manage.py collectstatic --noinput &&
             python manage.py runserver 0.0.0.0:8000"
    networks:
      - network
    restart: unless-stopped

networks:
  network:
