#dashboard {
  flex: 1 1 auto;
  height: 100vh;
  background-color: #fff;
  border: 0;
}

#dashboard-placeholder {
  flex: 1 1 auto;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#dashboard-placeholder h1 {
  font-size: 5vh;
  color: #666;
}

#dashboard-placeholder p {
  font-size: 2.5vh;
  opacity: 0.8;
  color: #666;
}