#sidebar {
  width: 20vw;
  flex: 0 0 20vw;
  min-height: 100vh;
  position: relative;
  background-color: #1F2327;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 2.5vh;
  color: #fff;
}

.divider {
  height: 0.1vh;
  background-color: #4B4B4B;
}

#top {
  flex: 0 0 12vh;
}

#menu {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}

#bottom {
  flex: 0 0 15vh;
}