#sidebar {
  width: 20vw;
  flex: 0 0 20vw;
  min-height: 100vh;
  position: relative;
  background-color: #1F2327;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#sidebar .divider {
  height: 0.1vh;
  background-color: #4B4B4B;
}

#sidebar #top {
  flex: 0 0 15vh;
}

#sidebar #menu {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}

#sidebar #bottom {
  flex: 0 0 15vh;
}